// Colors ====================================
$tiber_color: #218380;
$lava_color: #50A97E;
$umbra_color: #212529;
$icon_color: #BFBFBF;
$xl_color: #272525;
$background_color: #FFFFFF;
$border_color: #000000;
$line_color: #F1F1F1;
$text_color: #656565;
$hr_color: #D9D9D9;

// Fonts ======================================
$xl_font: 32px;
$l_font: 24px;
$m_font: 20px;
$s_font: 18px;
$footer_font: 12px;
$xs_font: 10px;

// Font Weight ================================
$l_weight: 700;
$m_weight: 600;
$s_weight: 400;