@media screen and (max-width: 991px){
    .application {
        font-size: 16px;
        width: 200px;
    }
}

@media screen and (max-width: 767px){
    .application {
        font-size: 16px;
        width: 200px;
    }
}